<% include layout/header %>

<h2>About</h2>
<p>
  The purpose of this site is to support and promote PRiCluster project, originally created by Joshua Kiepert.
</p>
<p>
  You can read more information in this document &mdash; <a
    target="_blank"
    href="http://coen.boisestate.edu/ece/files/2013/05/Creating.a.Raspberry.Pi-Based.Beowulf.Cluster_v2.pdf"
    >Creating.a.Raspberry.Pi-Based.Beowulf.Cluster_v2.pdf</a>.
</p>
<p>
  Please let me know if you are already affiliated with this project or interested in supporting it.
</p>

<% include layout/footer %>
