<% include layout/header %>

<h2>Coinbase orders</h2>
<table class="table table-striped">
  <thead>
    <th>Coinbase ID</th>
    <th>BTC</th>
    <th>Transaction time</th>
  </thead>
  <tbody>
    <% for(var i=0; i<orders.length; i++) {%>
       <tr>
         <td><%= orders[i].id %></td>
         <td><%= orders[i].amount %></td>
         <td><%= orders[i].time %></td>
       </tr>
       <% } %>
</table>
<a href="/refresh_orders">Refresh orders from coinbase</a>

<% include layout/footer %>
